<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统-二级分类</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap-validator/css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="assets/nprogress/nprogress.css"/>
    <link rel="stylesheet" href="css/admin.css"/>
    <style>
				/* 隐藏原有的上传按钮，将自己的覆盖在上面 */
				[name="pic1"]{
					width: 82px;
					height: 34px;
					overflow: hidden;
					display: block;
					opacity: 0;
					position: absolute;
					left: 0;
					top: 0;
				}
    </style>
</head>
<body>
<!--侧边栏-->
<aside class="ad_aside">
    <!--商标-->
    <div class="brand"><a href="index.html">ITCAST</a></div>
    <!--用户-->
    <div class="user">
        <img src="images/default.png" alt=""/>
        <span>超级管理员</span>
    </div>
    <!--菜单-->
    <div class="menu">
        <ul>
            <li><a href="userManage.html"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
            <li class="now">
                <a href="javascript:;"><span class="glyphicon glyphicon-list"></span> 分类管理</a>
                <div class="child">
                    <a href="categoryFirst.html">一级分类</a>
                    <a class="now" href="categorySecond.html">二级分类</a>
                </div>
            </li>
            <li><a href="productManage.html"><span class="glyphicon glyphicon-tags"></span> 商品管理</a></li>
        </ul>
    </div>
</aside>
<!--内容-->
<section class="ad_section">
    <!--顶部导航-->
    <nav class="ad_nav">
        <a data-menu href="javascript:;"><span class="glyphicon glyphicon-align-justify"></span></a>
        <a data-logout href="javascript:;"><span class="glyphicon glyphicon-log-out"></span></a>
    </nav>
    <div class="container-fluid">
        <!--路径导航-->
        <ol class="breadcrumb">
            <li><a href="#">管理系统</a></li>
            <li class="active">分类管理</li>
            <li class="active">二级分类</li>
        </ol>
        <div class="ad_content">
					<button class="btn btn-default mb_15" data-toggle="modal" data-target="#myModal">添加分类</button>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>序号</th>
								<th>一级分类</th>
								<th>二级分类（品牌）</th>
								<th>Logo</th>
							</tr>
						</thead>
						<tbody>
							<!-- 模板渲染 -->
						</tbody>
					</table>
					<!-- 分页 -->
					<nav aria-label="Page navigation" class=" text-right">
						<ul class="pagination">
							<!-- 动态生成分页 -->
						</ul>
					</nav>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加分类</h4>
            </div>
            <div class="modal-body">
							<form id="form">
								<div class="form-group">
									<label >一级分类</label>
									<div class="dropdown btn-group">
										<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="true">
											<span class="categoryName">请选择一级分类:</span>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											<!-- 动态渲染 -->
										</ul>
									</div>
								</div>
								<!-- 表单序列化只能获取表单数据，获取不到其他数据，所有需要一个隐藏域，用来存储 bootstrap 的下拉选项 -->
								<input type="hidden" name="categoryId" id="">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="二级分类名称">
								</div>
								<div class="form-group" style="position: relative">
									<button class="btn btn-default">上传图片</button>
									<input type="file" name="pic1" id="fileupload">
								</div>
								<img src="images/none.png" width="100xp" id="upLoadImg" alt="">
							</form>
            </div>
            <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<!-- 将这个 button 和上面的表单联系 -->
                <button type="submit" form="form" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 模板引擎 -->
<!-- 渲染表格数据 -->
<script type="text/template" id="table">
	<% for(var i = 0; i < rows.length; i++) { %>
		<tr>
			<th scope="row"><%= i + 1 +(page - 1) * size %></th>
			<td><%= rows[i].categoryName %></td>
			<td><%= rows[i].brandName %></td>
			<td><img src="<%= rows[i].brandLogo %>" height = "50px" alt=""></td>
		</tr>
	<% } %>

</script>
<!-- 渲染下拉框数据 -->
<script type="text/template" id="dropdown">
	<% for(var i = 0; i < rows.length; i++) { %>
		<li><a href="#" data-id="<%= rows[i].id  %>" ><%= rows[i].categoryName %></a></li>
	<% } %>
</script>



<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="assets/nprogress/nprogress.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<!-- bootstrap 分页 -->
<script src="assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="assets/jquery-fileupload/jquery.ui.widget.js"></script>

<!-- 异步上传插件 -->
<script src="assets/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="assets/jquery-fileupload/jquery.fileupload.js"></script>

<script src="js/admin.js"></script>
<script src="js/categorySecond.js"></script>
</body>
</html>