<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- ios 是否启动快捷方式 -->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <!-- ios 顶部通知样式 -->
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <!-- 禁止网页将数字转换成电话号码 -->
  <meta content="telephone=no" name="format-detection">
  <title>我的乐淘-购物车</title>
  <!-- 网页描述 -->
  <meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
  <!-- 关键字 -->
  <meta name="Keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
  <!-- 网站图标 -->
  <link type="image/x-icon" rel="shortcut icon" href="../images/favicon.ico">

  <link rel="stylesheet" href="../assets/mui/css/mui.min.css">
  <link rel="stylesheet" href="../assets/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/cart.css">

</head>

<body>
  <div class="ct_container">
    <header class="ct_header">
      <a href="javascript:history.back();" class="left"><span class="fa fa-arrow-left"></span></a>
      <a href="javascript:;" class="right"><span class="fa fa-refresh"></span></a>
      <h3>我的购物车</h3>
    </header>
    <div class="ct_contant">
      <div class="ct_wrapper">
        <div class="mui-scroll-wrapper">
          <div class="mui-scroll">
            <ul id="OA_task_2" class="mui-table-view mui-media">
              <!-- 模板渲染 -->
            </ul>
          </div>
          <div class="cart_order">订单总额：¥<span id="cartAmount">0.00</span> <a href="javascript:;">生成订单</a></div>
        </div>
      </div>
    </div>
    <footer class="ct_footer">
      <a class="tab_home fa fa-home " href="../index.html"><span>首页</span></a>
      <a class="tab_cate fa fa-bars" href="../category.html"><span>分类</span></a>
      <a class="tab_cart fa fa-shopping-cart now" href="../user/cart.html"><span>购物车</span></a>
      <a class="tab_user fa fa-user" href="user/index.html"><span>会员中心</span></a>
    </footer>
  </div>







  <script type="text/template" id="cart">
    <% for (var i = 0; i < data.length; i++) { %>
      <li data-product="1" class="mui-table-view-cell mui-transitioning">
        <div class="mui-slider-right mui-disabled " data-id = "<%= data[i].id %>">
          <a class="mui-btn mui-btn-blue mui-icon mui-icon-compose" style="transform: translate(0px, 0px);"></a>
          <a class="mui-btn mui-btn-red mui-icon mui-icon-trash" style="transform: translate(-90px, 0px);"></a>
        </div>
        <div class="mui-slider-handle" style="transform: translate(0px, 0px);">
          <a href="javascript:;">
            <img class="mui-media-object mui-pull-left" src="<%= data[i].pic[0].picAddr %>">
            <div class="mui-media-body">
              <p class="name"><%= data[i].proName %></p>
              <p class="info">
                <span class="price"><%= data[i].price %></span>
                <span class="oldPrice"><%= data[i].oldPrice %></span>
                <span class="number">x <%= data[i].num %></span>
              </p>
              <p><span class="size">鞋码：<%= data[i].size %></span></p>
            </div>
            <input data-id="<%= data[i].id %>" type="checkbox">
          </a>
        </div>
      </li>
    <% } %>
  </script>

  <script type="text/template" id="edit">
    <div class="cart_update">
      <div class="p_size">
        尺码：
        <% var itemArr = productSize.split('-') 
        for(var i = itemArr[0]; i<= itemArr[1]; i++) { %>
          <span class="btn_size <%=i==size ? 'now' : '' %>"><%= i  %></span>
        <% } %>
      </div>
      <div class="p_number">
        数量：<span class="jian">-</span><input readonly="" type="text" value="<%=num%>" data-max="<%= productNum %>"><span class="jia">+</span>
      </div>
    </div>
  </script>



  <script src="../assets/mui/js/mui.min.js"></script>
  <script src="../assets/zepto/zepto.min.js"></script>
  <script src="../assets/artTemplate/template-native.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/cart.js"></script>
</body>

</html>